@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-width: 768px;
  min-width: 350px;
  font-family: "Robotot", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
footer h4,
.menu__title h2 {
  font-family: "Shrikhand", sans-serif;
}

h2 {
  margin: 0;
}

.title,
button {
  box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.15);
}

h4 {
  font-weight: bold;
}

footer {
  background-color: #353535;
  color: white;
}
footer h4 {
  color: white;
  padding: 20px 40px;
  margin: 0;
}
footer ul {
  padding-bottom: 20px;
  margin: 0;
}
footer li {
  line-height: 30px;
}
footer i {
  width: 30px;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
header h2 {
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#locate {
  background-color: #eaeaea;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
#locate i {
  margin-right: 15px;
}
#locate p {
  font-size: 18px;
  font-weight: 500;
}

.reserve {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.reserve p {
  color: #6b6969;
}

.search__btn {
  width: 226px;
  padding: 20px 0;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border: none;
  margin: 30px auto;
  background: linear-gradient(#ff79da, #9356dc);
}
.search__btn:hover {
  background: linear-gradient(360deg, #ae80e5 0%, #ff93e1 100%);
}

#functioning {
  margin: 5%;
}

.functioning ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 100%;
  padding: 0;
}
.functioning li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: center;
  padding: 10px;
}
.functioning li a:hover {
  background-color: #f5edff;
}
.functioning li a:hover i {
  color: #9356dc;
}
.functioning a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-width: 250px;
  max-width: 320px;
  padding: 7px;
  box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  background-color: #f6f6f6;
}
.functioning a i {
  margin: 8px 30px;
}
.functioning a .number {
  margin-left: -18px;
  color: white;
  background-color: #9356dc;
  padding: 2px 7px;
  border-radius: 50%;
}

#restaurant {
  padding: 60px 5%;
  background-color: #f2f2f2;
  flex-basis: 100%;
}
#restaurant h2 {
  margin: 20px 0;
}

.restaurant {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: 100%;
  gap: 25px;
}
.restaurant__bloc {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: 100%;
  gap: 25px;
}
.restaurant__card {
  width: 320px;
  border-radius: 25px;
  box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.15);
  height: 250px;
  display: flex;
  flex-direction: column;
}
.restaurant__card .new {
  float: right;
  color: #0d8e6f;
  background-color: #99e2d0;
  padding: 0 15px;
  margin: 15px;
  font-weight: 600;
  border-radius: 3px;
  line-height: 1px;
}

.card1 {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.card2 {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.card3 {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.card4 {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.card1,
.card2,
.card3,
.card4 {
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 500px;
  border-radius: 25px 25px 0 0;
}

.card__description {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  padding: 10px;
}
.card__description .name {
  flex-basis: 80%;
  gap: 0 5px;
  line-height: 8px;
}
.card__description p {
  color: #6b6969;
}

.btn {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__heart {
  position: relative;
  font-size: 28px;
  border: none;
  box-shadow: none;
  background-color: transparent;
}
.btn__heart--inactive {
  color: #6b6969;
}

.line {
  width: 50px;
  height: 4px;
  background-color: #99e2d0;
  margin: 0 0 10px;
}

.bckgrd {
  width: 100%;
  height: 270px;
  background-position: center;
  background-size: cover;
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

#omf__title {
  padding: 20px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#omf__title h1 {
  margin: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
  margin-top: -50px;
  padding: 0 20px;
  border-radius: 40px 40px 0 0;
}
.menu__title {
  padding: 40px 0 10px;
  display: flex;
  justify-content: space-between;
}
.menu__title h2 {
  font-size: 30px;
}
.menu h3 {
  color: #6b6969;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 10px;
}

.menu__step {
  display: flex;
  flex-direction: column;
}
.menu__step .meal {
  height: 75px;
  box-shadow: 1px 3px 15px 2px rgba(0, 0, 0, 0.08);
  margin: 8px 0;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  overflow: hidden;
}
.menu__step .meal:hover .meal__price {
  margin-right: 0;
  transition: all 400ms ease-in-out;
}
.menu__step .meal__description {
  width: 300px;
  padding: 10px;
  display: inline-block;
  overflow: hidden;
}
.menu__step .meal__description h4,
.menu__step .meal__description p {
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__step .meal__description p {
  color: #6b6969;
  font-size: 14px;
}
.menu__step .meal__price {
  width: 120px;
  height: 75px;
  display: flex;
  margin-right: -60px;
}
.menu__step .meal__price .price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 60px;
}
.menu__step .meal__price .price span {
  font-weight: bold;
  margin: 10px;
}
.menu__step .meal__price .price__check {
  display: flex;
  width: 60px;
  border-radius: 0 15px 15px 0;
  text-align: center;
  justify-content: center;
  background-color: #99e2d0;
  transition: tranform 400ms;
}
.menu__step .meal__price .price__check .fas {
  margin: auto;
  justify-content: center;
  padding: 6px 6px;
  border-radius: 50%;
  background-color: white;
  color: #99e2d0;
}

/*# sourceMappingURL=style.css.map */
