@mixin shadow {
  box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.15);
}
@mixin meal--shadow {
  box-shadow: 1px 3px 15px 2px rgba(0, 0, 0, 0.08);
}

//

@mixin heart--color {
  background: -moz-linear-gradient(
    to bottom,
    $secondary__color,
    $primary__color
  );
  background: -webkit-linear-gradient(
    to bottom,
    $secondary__color,
    $primary__color
  );
  background: linear-gradient(to bottom, $secondary__color, $primary__color);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin btn__bckgrd--lighter {
  background: linear-gradient(
    360deg,
    lighten($primary__color, 10%) 0%,
    lighten($secondary__color, 5%) 100%
  );
  opacity: 0.8;
}

@mixin btn {
  width: 226px;
  padding: 20px 0;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border: none;
  margin: auto;
  background: $btn__color;
  transition: all 200ms ease-out;
  &:hover {
    @include btn__bckgrd--lighter;
  }
}

//

@mixin bckgrd {
  width: 100%;
  height: 270px;
  background-position: center;
  background-size: cover;
}

@mixin h3__step--font {
  color: $font__color--dgrey;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0;
}

@mixin line {
  width: 50px;
  height: 4px;
  background-color: $tertiary__color;
  margin: 0 0 10px;
}

// ANIMATION

@mixin transition($duration: $medium) {
  transition: all $duration ease-in-out;
}
@mixin animation--slide {
  margin-right: 0;
}
@mixin animation--check {
  transform: rotate(360deg);
  @include transition($duration: $medium);
  transition-delay: 100ms;
}

@mixin animation--loading {
  .loader__circles {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $primary__color;
    animation: spin 1s linear infinite;

    &::after {
      content: "";
      position: absolute;
      border: 3px solid transparent;
      border-top-color: $secondary__color;
      opacity: 0.8;
      border-radius: 50%;
      top: 5px;
      left: 5px;
      bottom: 5px;
      right: 5px;
      animation: spin 2s linear infinite;
    }
    &::before {
      content: "";
      position: absolute;
      border: 3px solid transparent;
      border-top-color: $tertiary__color;
      opacity: 0.5;
      border-radius: 50%;
      top: 12px;
      left: 12px;
      bottom: 12px;
      right: 12px;
      animation: spin 4s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
@mixin animation--slide__menu {
  transform-origin: 50% 100%;
  animation: menu 1.2s ease-in-out;

  @keyframes menu {
    0% {
      opacity: 0;
      transform: scaleY(0);
    }
    50% {
      transform: scaleY(1);
    }
    100% {
      opacity: 1;
    }
  }
}
