@mixin shadow {
  box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.15);
}
@mixin meal--shadow {
  box-shadow: 1px 3px 15px 2px rgba(0, 0, 0, 0.08);
}

//

@mixin heart--color {
  background: -moz-linear-gradient(
    to bottom,
    $secondary__color,
    $primary__color
  );
  background: -webkit-linear-gradient(
    to bottom,
    $secondary__color,
    $primary__color
  );
  background: linear-gradient(to bottom, $secondary__color, $primary__color);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin btn__bckgrd--lighter {
  background: linear-gradient(
    360deg,
    lighten($primary__color, 10%) 0%,
    lighten($secondary__color, 5%) 100%
  );
  opacity: 0.8;
}

@mixin btn {
  width: 226px;
  padding: 20px 0;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border: none;
  margin: auto;
  background: $btn__color;
  transition: all 200ms ease-out;
  &:hover {
    @include btn__bckgrd--lighter;
  }
}

//

@mixin bckgrd {
  width: 100%;
  height: 270px;
  background-position: center;
  background-size: cover;
}

@mixin h3__step--font {
  color: $font__color--dgrey;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0;
}

@mixin line {
  width: 50px;
  height: 4px;
  background-color: $tertiary__color;
  margin: 0 0 10px;
}

// ANIMATION

@mixin transition($duration: $medium) {
  transition: all $duration ease-in-out;
}
@mixin animation--slide {
  margin-right: 0;
}
@mixin animation--check {
  transform: rotate(360deg);
  transition: all 300ms ease-in-out 100ms;
}
