@mixin heart {
  flex-basis: 20%;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -moz-linear-gradient(bottom, $secondary-color, $primary-color);
  background: -webkit-linear-gradient(bottom, $secondary-color, $primary-color);
  background: linear-gradient(bottom, $secondary-color, $primary-color);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

//

@mixin shadow {
  box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.15);
}
@mixin meal--shadow {
  box-shadow: 1px 3px 15px 2px rgba(0, 0, 0, 0.08);
}

//

@mixin btn__bckgrd--lighter {
  background: linear-gradient(
    360deg,
    lighten($primary-color, 10%) 0%,
    lighten($secondary-color, 5%) 100%
  );
}
@mixin bckgrd {
  width: 100%;
  height: 270px;
  background-position: center;
  background-size: cover;
}

//
@mixin btn {
  width: 226px;
  padding: 20px 0;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border: none;
  margin: 30px auto;
  background: $btn_color;
  &:hover {
    @include btn__bckgrd--lighter;
  }
}

@mixin h3__step--font {
  color: $font_color--dgrey;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0;
}

@mixin line {
  width: 50px;
  height: 4px;
  background-color: $tertiary_color;
  margin: 0 0 10px;
}
