// COLORS

$primary__color: #9356dc;
$secondary__color: #ff79da;
$tertiary__color: #99e2d0;

// BACKGROUND

$bckgd__color--grey: #f6f6f6;
$bckgd__header--grey: #eaeaea;
$bckgd__color--white: rgba(255, 255, 255, 0.973);
$bckgd__color--new: #99e2d0;
$backgd__footer--color: #353535;

// FONT

$font__color--dgrey: rgb(107, 105, 105);
$font__color--new: #0d8e6f;

$btn__color: linear-gradient($secondary__color, $primary__color);

// DURATION

$fast: 150ms;
$medium: 300ms;
$slow: 400ms;
$slowly: 1s;

// BREAKPOINT

$default: 1086px;
$screen--l: 1385px;
$screen--xl: 2190px;
