// COLORS

$primary-color: #9356dc;
$secondary_color: #ff79da;
$tertiary_color: #99e2d0;

$bckgd_color--grey: #f6f6f6;
$bckgd__header--grey: #eaeaea;

$font_color--dgrey: rgb(107, 105, 105);

$btn_color: linear-gradient($secondary-color, $primary-color);

$footer--color: #353535;
