footer {
  background-color: $footer--color;
  color: white;
  h4 {
    color: white;
    padding: 20px 40px;
    margin: 0;
  }
  ul {
    padding-bottom: 20px;
    margin: 0;
  }
  li {
    line-height: 30px;
  }
  i {
    width: 30px;
  }
}
