html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  max-width: 768px;
  min-width: 400px;
  font-family: "Robotot", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}

h1,
footer h4,
.menu__title h2 {
  font-family: "Shrikhand", sans-serif;
}
h2 {
  margin: 0;
}
.title,
button {
  @include shadow;
}
h4 {
  font-weight: bold;
}

.search__btn {
  @include btn;
}

button,
.meal {
  cursor: pointer;
}

.btn__heart {
  position: relative;
  font-size: 32px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  transition: all 400ms ease-in-out;
  &--inactive {
    color: $font__color--dgrey;
    position: absolute;
  }
  &--active {
    @include heart--color;
    opacity: 0;
    transition: all 400ms ease-in-out;
  }
  &:hover &--inactive {
    opacity: 0;
  }
  &:hover &--active {
    opacity: 1;
  }
}
