html {
  scroll-behavior: smooth;
  min-width: 400px;
}

* {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  padding: 0;

  font-family: "Robotot", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}

h1,
footer h4,
.menu__title h2 {
  font-family: "Shrikhand", sans-serif;
}
h2 {
  margin: 0;
}
.title,
.btn,
.btn__search {
  @include shadow;
}
h4 {
  font-weight: bold;
}

.btn__search {
  @include btn;
}
.btn__command {
  @extend .btn__search;
  margin: 30px auto;
}

.meal,
.btn__heart {
  cursor: pointer;
}

.btn__heart {
  position: relative;
  font-size: 32px;
  &--inactive {
    color: $font__color--dgrey;
    position: absolute;
    @include transition($duration: $slow);
  }
  &--active {
    @include heart--color;
    @include transition($duration: $slow);
    opacity: 0;
  }
  &:hover &--inactive {
    opacity: 0;
  }
  &:hover &--active {
    opacity: 1;
  }
}

// LOADER

.loader {
  position: fixed;
  background-color: rgb(253, 252, 252);
  opacity: 0.9;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100%;
  width: 100%;
  @include animation--loading;
  animation: loading 4s ease-out;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;

  @keyframes loading {
    100% {
      background-color: transparent;
      opacity: 0;
      z-index: -10;
    }
  }
}
